.card {
    background-color: transparent;
    border: 5px solid transparent;
    outline: 2px solid #fa0;
    box-shadow: 0 0 10px 3px #fa0;
}

.card-body {
    background-color: #14a;

    span {
        text-shadow: 1px 1px 2px #000;
    }

    .badge {
        background-color: #f20;
        color: #000;
        box-shadow: 3px 3px 1px #c10;
        border: none;
    }

    strong {
        color: #fa0;
    }
}